.conteudo {
    max-width: calc(1200px - 30%);
    min-width: none;
    margin: auto;
    padding: 80px 20px 100px 20px;
}

.filtro {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
}

.filtro .input {
    position: relative;
}

.filtro .input input {
    background-color: var(--gray-12);
    border: 1px solid var(--gray-08);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 0px 38px 0px 10px;
    font-family: var(--inter-font);
    font-weight: normal;
    font-size: 16px;
}

.filtro .input button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.filtro a {
    text-align: right;
    font-family: var(--inter-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--purple-04);
    transition: color 0.2s;
}

.filtro a:hover {
    color: var(--purple-01);
}

.listaClientes {
    min-height: 400px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.listaClientes hr {
    height: 1px;
    color: var(--gray-08);
    margin: 30px 0px;
}

@media (max-width: 600px) {
    .filtro {
        width: 340px;
    }

    .listaClientes {
        width: 340px;
    }
}